@import url('https://fonts.googleapis.com/css2?family=Caacupe+One&display=swap');
:root {
  --background: #ffffff;
  --backgroundPink: #ffefff;
  --backgroundPurple:#EDECFC;
  --backgroundYellow:#EBE59F;
  --backgroundBlue:#D6EFFF ;
  --fontTitle:"Caacupe One", sans-serif;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}




